* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Literata', sans-serif;
}

.navbar {
    background: #937D64;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}
.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: #ffffff;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    font-family: 'Literata';
    cursor: pointer;
    text-decoration: none;
    font-size: 2.5rem;
}

.closet {
    margin-left: 1rem;
    height: 50px;
    width: 50px;
    padding: 5px;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

/* do i need a button in my header? if i do then i can use this. remember i havent actually used a class=button yet
 
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #f77062;
    color: #fff;
} 

.button:hover {
    background: #4837ff;
    transition: all 0.3s ease;
}
*/

.navbar__links:hover {
    color: #E6E1DB;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
    }

    .navbar__menu.active {
        background: #937D64;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    /*again not sure if i want a button or not iin navbar
     .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    } */

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

.form-box {
    width: 40%;
    height: 80%;
    background: #CDC2B6;
    padding: 30px;
    margin: auto;
    flex-wrap: wrap;
    text-align: center;
    border-radius: 4px;
    background: url('https://media.istockphoto.com/photos/beige-silk-background-picture-id171250699?b=1&k=20&m=171250699&s=170667a&w=0&h=W7dR0EuP1xd8NDhOf2tUF3XfoONdibhNd4xVw3HZUkQ=');
}
.searchform-box {
    width: 40%;
    height: 80%;
    background: #CDC2B6;
    padding: 30px;
    margin: auto;
    flex-wrap: wrap;
    text-align: center;
    border-radius: 4px;
    background: url('https://media.istockphoto.com/photos/suede-leather-texture-picture-id183422344?b=1&k=20&m=183422344&s=170667a&w=0&h=K0eWfiX_27UpjcyWOZJFsm2-a2Z_Q6f22cZWDrYcdi0=');
}

.form-labels {
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 3px;
    flex-wrap: wrap;
}

#radios {
    justify-content: center;
    align-items:flex-start;
    padding-left: 10px;
}

.searchform {
    justify-content: center;
    width: 30%;
    padding-left: 10px;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 0.5px;
}

.search-bar {
    display:inline-flex;
    padding: 20px;
}

#search-icon-img {
    height: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 10px 10px 0px;
}

.add-button {
    background-color: #493E32;
    color: #FFFFFF;
    padding: 5px;
    margin-top: 7px;
    border-color: #493E32;
}
.add-button:hover {
    background-color: #FFFFFF;
    color:#493E32;
    transform: scale(1.1);
    cursor: pointer;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px;
}

.card {
    background-color: #CDC2B6;
    width: 360px;
    height: 425px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #E6E1DB;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-image {
    background-color: #937D64;
    text-align: center;
    border: 1px solid #000000;
    width: 250px;
    height: 300px;
    margin-left: 47px;
    
}

/* .card-1 {
    background-image: url('');
} */

.card h2 {
    padding: 4px;
    font-family: 'Kokoro';
    text-align: center;
    font-size: medium;
    color: #493E32;
}

.main__content h2 {
    text-align: center;
    font-family: 'Literata';
    color: #493E32;
    font-size: larger;
    padding: 20px;
}

.card:hover {
    background-color: #CDC2B6;
    transform: scale(1.45);
    transition: all 0.3s ease;
}

.row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }

  .row2 {
    display: flex;
  }
  
  .column2 {
    flex: 25%;
    padding: 5px;
  }

